:root {
    --greyC:#677C77;
    --darkGreen:#445F3B;
    --lightGreen:#8EA076;
    --lightgrey:#E0EFEA;
    --brownC: #564734;
}

/* Шрифты */
@font-face {
    font-family: "Werkzeug"; 
    src: url("../fonts/Werkzeug-0.9.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
@font-face {
    font-family: "DudkaBold"; 
    src: url("../fonts/Dudka\ Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

/* Медиа */
@media (1200px <= width) {
    .main {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-auto-flow: row dense;
        }
        .main .container {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
        }
        .game {
            grid-column-start: 1;
            grid-column-end: span 6;
            grid-row-start: 1;
            grid-row-end: span 12;
        }
        .menu {
            grid-column: span 1;
            grid-auto-flow: column;
        }
        .map {
            grid-column: span 9;
        }
        .nav {
            grid-column-start: 1;
            grid-column-end: span 8;
            grid-row-start: 7;
            grid-row-end: span 1;
            justify-self: center;
        }
        .nav ul {
          border-top: 2px solid white;
          font-size: 1.5vh;
        }
        .startMenu, #modalFirstTime {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(9, 1fr);
        }
        .startMenu-content, #modalFirstTime-content{
            grid-column-start: 3;
            grid-column-end: span 2;
            grid-row-start: 4;
            grid-row-end: span 5;
        }
        .startMenu-title {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 3;
        }
        .rules, .info, #modalFirstTime {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
        .rules-content, .info-content {
            grid-column-start: 2;
            grid-column-end: span 4;
            grid-row-start: 2;
            grid-row-end: span 4;
        }
        #modalFirstTime-content {
            grid-column-start: 3;
            grid-column-end: span 2;
            grid-row-start: 3;
            grid-row-end: span 3;

            border-radius: 3%;
        }
        #navBtn {
            display: none;
        }
}
@media (width < 1200px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-auto-flow: row dense;
        }
        .main div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .game {
            grid-row: span 12;
            grid-column: span 2;
        }
        .menu {
            grid-row: span 1;
            grid-column: span 2;
        }
        .map {
            grid-row: span 11;
            grid-column: span 2;
        }
        .nav {
            grid-row: span 1;
            grid-column: span 2;
        }        
        .nav {
          justify-self: end;
        }
        .nav ul{
          border-top: none;
          border-left: 2px solid white;
        }
        .startMenu, #modalFirstTime {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, 1fr);
        }
        .startMenu-content, #modalFirstTime-content {
            grid-column-start: 1;
            grid-column-end: span 2;
            grid-row-start: 3;
            grid-row-end: span 4;
        }
        .startMenu-title {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
        }
        .rules, .info {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
        .rules-content, .info-content {
            grid-column-start: 2;
            grid-column-end: span 4;
            grid-row-start: 2;
            grid-row-end: span 4;
        }
        #modalFirstTime-content {
          grid-column-start: 1;
          grid-column-end: span 2;
          grid-row-start: 2;
          grid-row-end: span 3;
      }
        .nav ul {
            grid-column: 7;
        }
        #navBtn {
            display: grid;
        }
        #navBtn{
            border: 2px solid black;
            position: absolute;
            right: 2vh;
            top: 10vh;
            z-index: 2;
        }
        #changeLangBtn {
          margin-right: 5vw;
        }
        .title h1 {
            padding: 0;
            margin: 0;
        }
        
}

/* Основное */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Werkzeug",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    width: 100%;
    height: 100%;
    color: var(--lightgrey);
    background-color: var(--lightGreen);
}
a {
    color: inherit;
    text-decoration: none;
}
.container *{
    padding: 0.6vh;
}
.main {
    width: 100%;
    height: 100vh;
    display: none;
}
.menu{
    display: grid;
    z-index: 1;

    background-color: var(--brownC);
    border: 15px double var(--lightgrey);
    box-shadow: 0.5vw 0 15px rgba(0, 0, 0, 0.7);
    padding: 1vw;
}
.map {
    background-image: url("../img/textures/grass.jpg");
    background-size: cover;
    display: grid;
}
.nav ul{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  .nav li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    align-content: center;
    
    color: var(--lightgrey);
  }
  .nav li:hover {
    color: var(--lightgrey);
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 3px var(--lightgrey);
    font-weight: bold;
  }
  .nav li:active {
    transform: translateY(4px);
  }
  .chupCnt ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

    border-bottom: 2px solid var(--lightgrey);
  }
  .chupCnt ul li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    align-content: center;

    background-color: var(--lightgrey);    
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    margin-bottom: 1vh;
  }
  .chupCnt img{
    width: 7vh;
  }
  .sheepPlace {
    border: 0.3vw solid var(--lightgrey);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
    background-image: url(../img/textures/floor.png);
    background-size: cover;
    margin: 0;
  }
  .sheepPlace img {
    width: 10vh;
  }
/*Games*/
.box {
  width: 200px;
  background-color: red;
  margin-right: 200px;
  border: 2px solid black;
}
.item {
  background-color: #445F3B;
  height: inherit;
  cursor: grab;
}

  /*Кнопки*/
  button {
    background: none;
   border: none;
   color: inherit;
   font-size: inherit;
   text-transform: inherit;
  }
  .closeBtn {
      position: absolute;
      right: 21vw;
      top: 21vh;
  }

  #infoBtn {
      position: absolute;
      bottom: 2vh;
      right: 2vh;
  }
  #changeLangBtn {
    position: absolute;
    right: 5vw;
    bottom: 2vh;
  }
  #confirmNameBtn {
    padding: 1vh;
    margin-top: 2vh;
    border-radius: 3%;
  }
  #confirmNameBtn:hover {
    background-color: var(--lightgrey);
    color: var(--brownC);
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 3px var(--brownC);
    font-weight: bold;
  }
  #confirmNameBtn:active {
    transform: translateY(4px);
  }

/* Модальные окна*/
.startMenu, .rules, .info, #modalFirstTime {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
  }
  .startMenu {
    display: grid;
    z-index: 1;
    background: url(../img/textures/grass.jpg);
    background-size: cover;
  }
  .rules, .info, #modalFirstTime{
    display: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    word-wrap:break-word;
  }
  .startMenu-content, .rules-content, .info-content, #modalFirstTime-content {
    background-color: var(--brownC);
    border: 20px double var(--lightgrey);
    padding: 4vh;
    overflow-y:auto;
    scrollbar-width: 1px;
    user-select: none;
  }
  .startMenu-content {
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 3%;
  }
  .rules-content p {
    font-family: "DudkaBold";
    font-size: 2.3vh;
  }
  .startMenu-content::-webkit-scrollbar, .rules-content::-webkit-scrollbar {
    width: 1px;
  }
  .startMenu-title {
    justify-self: center;
    align-self: center;
    text-align: center;
    user-select: none;
    pointer-events: none;
  }
  .startMenu-title .ico {
    margin: 0;
    width: auto;
    height: 15vh;
  }
  .startMenu-title h1 {
    color: var(--lightgrey);
    text-shadow: 5px 10px 10px var(--brownC);
    font-family:"Werkzeug",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vh;
  }
  .startMenu-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .startMenu-nav li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    margin-bottom: 3vh;
    padding: 2vh;

    color: var(--lightgrey);
    background-color: var(--brownC);
    border: 2px solid var(--lightgrey);
    border-radius: 5%;
  }
  .startMenu-nav button:last-child li {
    margin-bottom: -10px;
  }
  .startMenu-nav li:hover, .startMenu-nav #changeLangBtn:hover, #infoBtn:hover {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: var(--lightgrey);
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 3px var(--lightgrey);
    font-weight: bold;
  }
  .startMenu-nav li:active, .startMenu-nav #changeLangBtn:active, #infoBtn:active {
    transform: translateY(4px);
  }
  .info-content *:not(.closeBtn), .rules-content *:not(.closeBtn){
    padding: 1%;
  }
  .info li {
list-style: none;
  }
.info ul img {
    width: 4vh;
}
#modalFirstTime-content *{
  padding: 0.7vw;
}
#modalFirstTime-content{
  font-size: 2vh;
}
#modalFirstTime-content h1{
  text-align: center;
}
#modalFirstTime-content input{
  background-color: var(--brownC);
  color: var(--lightgrey);
  border: none;
  padding: 0.5vw;
  font-size: 2vh;
}
#modalFirstTime-content input:active{
  background-color: var(--brownC);
  color: var(--lightgrey);
  border: none;
  padding: 0.5vw;
}
.visitCard {
  display: none;
  background-color: var(--brownC);
  border: 8px double var(--lightgrey);
  border-radius: 3%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);

  padding: 2vw;
  position: absolute;
  left: 75vw;
  bottom: 80vh;
}